name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    env:
      TAG: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
      - run: deno publish --set-version="$TAG"
      - uses: ncipollo/release-action@v1
