name: Release
on:
  push:
    tags:
      - "v*.*.*"

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          cache: true
      - run: deno check

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
        with:
          cache: true
      - run: deno test -P

  publish:
    needs:
      - test
      - typecheck
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
    env:
      VERSION: ${{ github.ref_name }}
    steps:
      - uses: actions/checkout@v5
      - uses: denoland/setup-deno@v2
      # NOTE: Slow types are par for the course with Zod schemas.
      - run: deno publish --set-version="${VERSION#v}" --allow-slow-types
      - uses: ncipollo/release-action@v1
